html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', arial, sans-serif;
	color: #444;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6,ul{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/* ======= Header ======= */
.header{
	background: #17baef;
	padding: 10px 0;
}
.container{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	display: inline-block;
	font-size: 26px;
}
.menu{
	display: flex;
	float: right;
}
.menu-item{
	list-style-type: none;
	font-weight: 400;
	margin-right: 30px;
	text-align: center;
	font-family: 'Lato', arial, sans-serif;
}
.menu-item>a{
	text-decoration: none;
	color: #0a7396;
	line-height: 36px;
	padding: 15px 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.logo-pull-left>a{
	text-decoration: none;
	color: #fff;
}
